{% extends 'back-office/base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
    <h1>Nouvel événement</h1>
    {{ include('back-office/event/_form.html.twig') }}
{% endblock %}