{% extends('base.html.twig') %}

{% block body %}
    {% if form is defined %}
        <div class="container" style="margin-top: 250px">
            {{ form_start(form, {'attr':{'class':'form-sign-in'}}) }}
                <img class="mb-4" src="https://www.megaebin.com/public/images/signin.gif" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Pour vous connecter</h1>
                {{ form_widget(form.email, {'attr':{'class':'form-control', 'placeholder':'Votre email'}}) }}
                {{ form_widget(form.password, {'attr':{'class':'form-control', 'placeholder':'Votre mot de pass'}}) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Connectez-vous !</button>
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}