{% extends 'base.html.twig' %}
{% block body %}
    <!-- section a -->
    <section id="section-a">
        <div class="content-wrap">
            <h2 class="content-title">Qui sommes-nous</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Distinctio facere facilis illo in modi neque
                officia placeat quas reprehenderit rerum!
            </p>
        </div>
    </section>

    <!-- section b -->
    <section id="sectuion-b">
        <div class="box">
            <h2 class="content-title">Nous contacter</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A aliquid distinctio dolorum esse ex non perferendis, quos
                repellat saepe veniam?
            </p>
            <p>contact@nao.test</p>
        </div>
    </section>
{% endblock %}