{% extends 'back-office/base.html.twig' %}

{% block title %}Créer un nouvel article{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>
    {{ include('back-office/article/_form.html.twig') }}
{% endblock %}