{% extends 'back-office/base.html.twig' %}

{% block title %}Création d'une nouvelle image{% endblock %}

{% block body %}
    <a class="btn-outline-dark" href="{{ path('image_index') }}">
        <i class="far fa-arrow-alt-circle-left"></i> Images
    </a>
    <h1 class="text-center">Création d'une nouvelle image</h1>
    {{ include('back-office/image/_form.html.twig') }}
{% endblock %}