<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 text-center mb-3">
                <a href="{{ path('contact') }}">Nous contacter</a>
                <span>/</span>
                <a href="{{ path('legalNotice') }}">Mentions légales</a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <a class="mr-2 ml-2" href="https://www.facebook.com/Nos-Amis-les-Oiseaux-1882994325331067"><i class="fab fa-facebook fa-2x"></i></a>
                <a class="mr-2 ml-2" href="https://www.instagram.com/naoasso/"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>