<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 text-center mb-3">
                <a href="{{ path('contact') }}">Nous contacter</a>
                <a href="{{ path('legalNotice') }}">Mentions légales</a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <a class="mr-2" href="https://fr-fr.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a>
                <a class="mr-2" href="https://plus.google.com/discover"><i class="fab fa-google-plus fa-2x"></i></a>
                <a class="mr-2" href="https://twitter.com/?lang=fr"><i class="fab fa-twitter fa-2x"></i></a>
                <a class="mr-2" href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>