<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 text-center mb-3">
                <a href="#">Nous contacter</a> / <a href="#">Presse</a> / <a href="#">Mentions légales</a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <img class="align-content-center" src="{{ asset('imgSite/Groupe 665.png') }}" alt="">
            </div>
        </div>
    </div>
</footer>