{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<div class="row">
    <div class="card-body col-12 form-group encart">
        {{ form_row(form.name, {'label':'test'}) }}
    </div>
</div>

<div class="text-right">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}