{% extends 'back-office/base.html.twig' %}

{% block title %}Créer une nouvelle catégorie{% endblock %}

{% block body %}
    <a class="btn-outline-dark" href="{{ path('category_index') }}">
        <i class="far fa-arrow-alt-circle-left"></i> Catégories
    </a>
    <h1 class="text-center">Créer une nouvelle catégorie</h1>
    {{ include('back-office/category/_form.html.twig') }}
{% endblock %}