*{
  font-family: 'Open Sans', sans-serif;
  //color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
  color: #111;
}

.admin{

  //background-color: #444;

  h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
  }

  .navbar{
    background-color: #444!important;
  }

  .container {
    padding: 10px;
    border-radius: 5px;
    table {
      text-align: center;
      tr:hover {
        background-color: #eee;
      }
      .action {
        width: 100px;
      }
      .summary {
        max-height: 75px;
        overflow: hidden;
      }
    }

  }

  .encart{
    //color: #FFF;
    //background-color: white;
    //box-shadow: 2px 2px 7px #333;
    transition-duration: 300ms;
    border-radius: 5px;

    &:hover{
      opacity: 1;
      box-shadow: 5px 5px 20px #222;
      transition-duration: 300ms;
    }
  }

  .btn:hover{
    color: #FFF;
    i{
      color: #FFF;
      transition-duration: 300ms;
    }
  }

  .btn-outline-success i{
    color: green;
  }
}

.form-control{
  //background-color: #444;
  //color: white;
}

.cover-custom{
  height: 150px;
  width: 100%;
  object-fit: cover;
}