*{
  font-family: 'Open Sans', sans-serif;
  //color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6{
  color: #111;
}

.admin{

  //background-color: #444;

  h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
  }

  .navbar{
    background-color: #444!important;
  }

  .container {
    padding: 10px;
    border-radius: 5px;
    table {
      text-align: center;
      tr:hover {
        background-color: #eee;
      }
      .action {
        width: 100px;
      }
      .summary {
        max-height: 75px;
        overflow: hidden;
      }
    }

  }

  .encart{
    //color: #FFF;
    //background-color: white;
    //box-shadow: 2px 2px 7px #333;
    transition-duration: 300ms;
    border-radius: 5px;

    &:hover{
      opacity: 1;
      box-shadow: 5px 5px 20px #222;
      transition-duration: 300ms;
    }
  }

  .btn:hover{
    color: #FFF;
    i{
      color: #FFF;
      transition-duration: 300ms;
    }
  }

  .btn-outline-success i{
    color: green;
  }
}

.form-control{
  //background-color: #444;
  //color: white;
}

.cover-custom{
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.cover-custom-square{
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.ui-autocomplete > li > div {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
