{% extends 'back-office/base.html.twig' %}

{% block title %}Nouvel utilisateurs{% endblock %}

{% block body %}
    <h1>Nouvel utilisateurs</h1>
    {{ include('back-office/user/_form.html.twig') }}
{% endblock %}