{% extends 'back-office/base.html.twig' %}

{% block title %}Nouvel utilisateurs{% endblock %}

{% block body %}
    <a class="btn-outline-dark" href="{{ path('user_index') }}">
        <i class="far fa-arrow-alt-circle-left"></i> Utilisateurs
    </a>
    <h1 class="text-center">Nouvel utilisateurs</h1>
    {{ include('back-office/user/_form.html.twig') }}
{% endblock %}