nav{
  background: rgba(255,255,255,1);
  box-shadow: #333 0 2px 5px;
  .navbar-brand img{
    height: 2.5em;
    margin: 0;
    padding: 0;
  }
  #navbar{
    margin-left: auto;
    flex-flow: row-reverse;
    ul{
      margin: 0;
      text-align: right;
      li{
        margin-top: -5px;
        margin-bottom: -5px;
        .nav-link{
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }
}


@media screen and (min-width: 200px) and (max-width: 991px) {
  nav{
    .navbar-brand img {
      height: 2.5em;
    }
  }
  .buttons-custom {
    font-size: 1em;
    height: 60px;
    width: 200px;
  }
}