<div class="alert alert-__type__ alert-dismissible fade show mb-0" role="alert">
    __message__
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>